extends layout

block content    
  h1 #{title}
  h3 Top 10 Hashtag Graph Search for #{search_hashtag}
    #myProgress
      #loadBar
    #graphDiv(style="margin-left: -80px")
    #twitterDiv  
    input(type='text', style='display:none;', value=search_hashtag, id='query')
    
  

    
      
  
