extends layout

block content    
  h1 #{title}
  h3 Top 10 Hashtag Graph Search for #{search_hashtag}
  
    //- div(class="", id='data')
    //-   var s = '<div></div>' 
    //-   table
    //-     thread
    //-       <tr>  
    //-         th Hashtag
    //-         th Number  
    //-     tbody   
    //-       tr
      
            
          //- border-color: black
    #graphDiv
    #twitterDiv  
    //- index array  
    
      
  
