extends layout

block content    
  h1 #{title}
  h3 Top 10 Hashtag Graph Search for #{search_hashtag}

    //- index array  
         
    h1 #{topHash}    
    h1 #{topPoint}
          
    #graphDiv
      

    
      
  
