extends layout

block content    
  h1 #{title}
  h3 Top 10 Hashtag Graph Search for #{search_hashtag}
  #myProgress
    #loadBar

    //- #horizontalBarGraphDiv(style="margin-left: -80px")
  .tab
    button.tablinks(onclick="tabMenu(event, 'barGraphDiv')", id='barGraphtab') Bar Graph
    button.tablinks(onclick="tabMenu(event, 'horbarGraphDiv')", id='horbarGraphtab') Horizontal Bar Graph
    button.tablinks(onclick="tabMenu(event, 'pieGraphDiv')", id='pieGraphtab') Pie Graph

  #barGraphDiv.tabcontent
  #horbarGraphDiv.tabcontent
  #pieGraphDiv.tabcontent
      
  #twitterDiv  
  input(type='text', style='display:none;', value=search_hashtag, id='query')
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src='/assets/js/graph.js')

    
  

    
      
  
